@use "colors.scss";

body {
	font-family: sans-serif;
	text-align: center;
  background-color: colors.$background_one;
}

// navbar
.dropdown {
  span {
    text-decoration: underline;
  }

  .title {
    svg {
      fill: colors.$text_one;
      vertical-align: -3px;
    }
  }

  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown_group {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border: solid 1px;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: colors.$background_three;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 1;

  a:hover {
    color: colors.$text_two;
  }
}

// color
h1, h2, h3, h4, a, p, td, tr, span, label {
  color: colors.$text_one;
}
