// - https://colorhunt.co/palette/070f2b1b1a55535c919290c3
// - https://colorhunt.co/palette/0000001500503f0071610094
// - https://colorhunt.co/palette/17153b2e236c433d8bc8acd6

$background_one: rgb(7, 15, 43);
$background_two: rgb(11, 24, 83);
$background_three: rgb(27, 26, 85);

$text_one: rgb(146, 144, 195);
$text_two: rgb(83, 92, 145);

