@use "colors.scss";

.create-project-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  padding-left: 10%;
  padding-right: 10%;

  input {
    display: flex;
    flex-direction: column;

    background-color: colors.$secondary_background;
  }
}
