.viewjobset {
  padding-left: 10%;
  padding-top: 2%;
  padding-right: 10%;

  .action {
    display: flex;
    justify-content: flex-start;
  }

  .statistics {
    display: grid;
    grid-template-columns: auto auto;

    .value {
      text-align: left;
      padding-left: 10%;
    }

    .key {
      text-align: right;
      padding-right: 10%;
    }
  }

  .jobset_trigger_result {
    .failed {
      color: red;
    } 

    .success {
      color: green;
    }
  }

  .dropdown_content {
    .generic_input_form {
      input[type="submit"] {
        width: auto;
        font-size: 1em;
        height: 35px;
        padding: 0.3vw;
      }
    }
  }
}
