@use "../colors.scss";

.generic_input_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;

  .inputs {
    display: flex;
    flex-direction: column;

    input {
      color: colors.$text_one;

      width: 60vw;
      height: 50px;
      margin: 0.5vw 0;

      padding-left: 1vw;

      font-size: 1.1em;

      border-radius: 10px;

      border-style: solid;
      border-color: colors.$text_one;

      background-color: colors.$background_two;
    }

    input[type="submit"] {
      width: 100%;
      :hover {
        color: colors.$text_two;
      }
    }
  }
}

.generic_input_form_response {
  p {
    color: red;
  }
}
